site_name: EDIA
site_url: https://edia-toolbox.github.io/

repo_url: https://github.com/edia-toolbox/edia_core
repo_name: edia-toolbox/edia_core   # (optional)

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

theme: 
  logo: assets/logo.png
  favicon: assets/favicon.ico
  font: false
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.prune
  icon: 
    admonition:
      note: fontawesome/solid/note-sticky
      tip: fontawesome/solid/bullhorn
    repo: fontawesome/brands/github
    
  name: material
  palette: 
    # Light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: custom
      accent: deep orange

    # Dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: custom
      accent: deep orange

extra_css:
  - stylesheets/extra.css
  
nav:
  - Home: index.md
  - Getting Started: gettingstarted.md
  - API Reference:
      - API Reference: apiref.md
  - About: contact.md
