:root  > * {
  --md-primary-fg-color:        #407DCD;
  --md-primary-fg-color--light: #407DCD;
  --md-primary-fg-color--dark:  #407DCD;
}

.md-typeset .grid.cards ul li {
  margin-bottom: 0.1em;
}

.md-typeset .grid.cards p {
  margin-bottom: 0.1em;
}

.md-typeset .grid.cards hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

/* Force exactly 2 columns for MkDocs Material grid */
.md-typeset .grid.cards.grid--cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.md-typeset .grid.cards img.usecase-thumb {
  width: 100%;
  height: 160px;        /* pick what looks good */
  object-fit: contain;
  display: block;
  border-radius: 0.5rem;
}

/* Optional: keep it readable on small screens */
@media (max-width: 900px) {
  .md-typeset .grid.cards.grid--cols-2 {
    grid-template-columns: 1fr;
  }
}